Language: Cpp
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterCaseLabel: false
    AfterControlStatement: Never
    AfterEnum: false
    AfterStruct: false
    BeforeWhile: false
    IndentBraces: false

AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignTrailingComments: Always
AlignOperands: AlignAfterOperator 
AlignEscapedNewlines: LeftWithLastLine
BreakBinaryOperations: Never
BreakBeforeBinaryOperators: NonAssignment
ReflowComments: Never
