on: [push]
jobs:
    build_and_test:
        runs-on: ubuntu-latest
        container:
            image: micahvanr/project_builder:latest
        steps:
            - name: Checkout repo 
              uses: actions/checkout@v6
              with:
                submodules: "true"
            - run: make
            - run: make cppcheck
            - run: make test
    
